#tablaeventos {
 border:1px black solid;
 border-radius:5px;
 min-width:400px;
 font-family: Helvetica,Arial;
}
 table th{
 	text-align: center;
 	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	color: black;
	font-weight: bold;
 }
table td {
 padding:6px;
	color: black;
	background: rgba(255,255,255,1);

}
table tr{
	background-color: #e8edff;
}
#exampleModalLabel{
	text-align: center;
	font-weight: bold;
}
#fila{

}
#fila:hover{

  background-color: #f00;
}
 